.header{
    background-image: url('assets/images/code.jpg');
}
.bg-violet{
    background: #1e3799;
}
.btn-violet {
    color: #fff;
    background-color: #1e3799;
    border-color: #1e3799;
}
.btn-outline-violet {
    color: #1e3799;
    border-color: #1e3799;
}
.btn-outline-violet:hover {
    background-color: #1e3799;
    color: #fff;
}
.border-violet{
    border: 1px solid #1e3799;
}

.text-violet{
    color: #1e3799;
}
main{
    margin-top: 5%;
}
@media only screen and (max-width: 900px) {
    #form{
        max-width: 100% !important;
    }
}

body{
    height: 100%;
}

.cursor{
    cursor: pointer;
}

.fa-search{
    position: relative;
    z-index: 1;
    left: 95%;
    TOP: -34px;
    color: #7B7B7B;
    FONT-SIZE: 1.5rem;
    cursor: pointer;
    width: 0
}

.form-control-lg{
    border-radius: 40px;
}
.folder-list{
    transition: .2s ease-in-out transform;
}

.folder_title{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.folder-list:hover{
   transform: scale(1.1);
   cursor: pointer;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
